@import '../../../../../assets/variables.scss';

.product-details {
    padding: 3rem;

    .grid-container {
        grid-template-columns: auto auto;
        padding: 4rem;

        @media (max-width: 768px) {
            display: block;
        }

        @media (min-width: 769px) {
            display: grid;
        }
    }

    /* Columns */
    .left-column {
        width: 100%;
        position: relative;
        padding: 10px;

        img {
            width: 75%;
            height: auto;
            max-width: 100%;
        }
    }

    .right-column {
        width: 100%;
        margin-top: 20px;
        padding: 0 0 0 0;

        @media (min-width: 768px) {
            padding: 0 0 0 20px;
        }

        .product-price {
            display: flex;
            align-items: center;

            label {
                font-size: 26px;
                font-weight: 800;
                color: $secondary-color;
                margin-right: 20px;
            }
        }

        .action-button {
            display: flex;
            align-items: center;
            margin-top: 75px;

            .cart-btn {
                display: inline-block;
                background-color: $text-color;
                border-radius: 6px;
                font-size: 16px;
                color: $background-color;
                padding: 12px 28px;
                transition: all .5s;
                border: 1px solid $background-color;
            }

            .cart-btn:hover {
                cursor: pointer;
                background-color: $background-color;
                color: $text-color;
                border: 1px solid $background-color;
            }

            .cart-btn-cancel {
                display: inline-block;
                background-color: $background-color;
                border-radius: 6px;
                font-size: 16px;
                color: $text-color;
                padding: 12px 28px;
                transition: all .5s;
                margin: 15px;
            }

            .cart-btn-cancel:hover {
                cursor: pointer;
                background-color: $text-color;
                color: $background-color;
                border: 1px solid $background-color;
            }
        }
    }

    .product-description-content {
        .product-description {
            border-bottom: 1px solid $text-color;
            margin-bottom: 20px;

            span {
                font-size: 12px;
                color: #358ED7;
                letter-spacing: 1px;
                text-transform: uppercase;
                text-decoration: none;
            }

            h1 {
                font-weight: 300;
                font-size: 52px;
                color: #43484D;
                letter-spacing: -2px;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                color: #86939E;
                line-height: 24px;
            }
        }
    }

}