<div class="footer">
    <div>
        <mat-icon>pin_drop</mat-icon><label for="">Meet us:</label>
        <div class="meet-us-content">
            <span>
                896 Harter Street
                Dayton, OH 45407.
            </span>
        </div>
    </div>
    <div class="happy-message">
        <span><mat-icon>sentiment_very_satisfied</mat-icon>Delight in your shopping journey with us!</span>
    </div>

    <div class="chart-to-us">
        <label for="">Chart to us:</label>
        <div class="chat">
            <mat-icon>message</mat-icon><span>Our friendly team is here to help.</span>
        </div>
    </div>
</div>